
body {
    margin:0;
    padding:0;
    font-family: PT Sans, sans-serif;
    color:#333;
}

h1 {
    text-align: center;
    font-weight: normal;
    
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center;
    font-size: 190%;
    font-weight: normal;
    
}

h3 {
    letter-spacing: 1px;
    margin: 20px auto 5px 0px;
    font-size: 120%;
    font-weight: normal;
    /* font-style: italic; */
    /* font-variant: small-caps; */
    /* letter-spacing: 1px; */
    /* border-top: 1px #A8A8A8 solid; */
    background-color: #F1F1F1;
    border-radius: 5px;
}

table td {
    padding: 15px 0;
    width: 150px;
}

table th {
    width: 150px;
    padding: 10px 0;
    margin-top: 10px;
    text-align: left;
} 

p {
    padding: 10px 10px 10px 0; 
    margin-top: 0;
    word-spacing: 1px;
}

.post-title-line {
    color: #999;
    width: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}


.separation-line {
    width: 20%;
    background-color: #999;
    height: 1px;
    margin: 40px auto;   
}


.navigation {
    max-width: 1200px; 
    padding: 0 30px;
    margin: 50px auto;
    font-size: 120%;
}

.years-tab {
    margin-top: 70px;
    border-collapse: collapse; 
    width: 100%;
}

.years-tab tr {
    border-bottom: 1px solid #E7E5E5;
}
.years-tab tr:last-child {
    border-bottom: none;
}

.years-tab a {
    color: #414141;
    margin-left: 20px;
}

.years-tab a:hover {
    color: #000; 
    text-decoration: none;
       
}

.election {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
} 

.box {
    width: 500px;
    margin: 30px 0;
    padding-left: 5%;
}

.tab-border-bottom {
    border-collapse: collapse;
    width: 500px;
}

.tab-border-bottom tr {
    border-bottom: 1px solid #E7E5E5;
}

.chart {
    display: inline-block;
    background-color: #333;
    height: 6px;
    border-radius: 2px;
}

.chart--unelected {
    background-color: #7C7C7C; 
}

.unsuccessful {
    color: #6D6D6D;
} 

.winner-president:nth-child(2) {
    color: #000;
}

.support {
    font-size: 80%;
    padding: 0 0 5px 0;
    color: #6D6D6D;
}

.support-row {
    width:100%;
    border-bottom: 1px solid #E7E5E5;
}

.president tr:nth-child(even) {
    border-bottom: none;
}

.first-col {
    width: 20%;
    text-align: left;
}

.first-col--president {
    width: 30%;
}

.first-col--to-support {
    padding-top: 10px;
    padding-bottom: 0px;
    width: 40%;
}

.second-col {
    width: 12%;
}

.third-col {
    width: 15%;
    padding-right: 0px;
}

.third-col--president {
    width: 20%;
    /* border-bottom: 1px solid #E7E5E5; */
}

.fourth-col {
    width: 10%;
}

.fourth-col--president {
    width: 15%;
    /* border-bottom: 1px solid #E7E5E5; */
}

.fifth-col {
    width: 20%;
    padding-left: 0px;
    /* border-bottom: 1px solid #E7E5E5;  */
}

.aligned-left {
    text-align: left;
}
