
body {
    margin:0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
    color:#555;
}

h1 {
    text-align: center;
}

.navigation {
    max-width: 1600px;
    margin: 50px auto;
    font-size: 120%;
}

.years-tab {
    margin-top: 70px;
    border-collapse: collapse; 
    width: 100%;
}

.years-tab td {
    text-align: left;
    padding: 10px;
}

.years-tab tr {
    border-bottom: 1px solid #dddddd;
}
.years-tab tr:last-child {
    border-bottom: none;
}

.years-tab th {
    text-align: left;
    padding: 10px 0 10px 30px;
}

.years-tab a {
    color: #555;
}

.years-tab a:hover {
    color: #333; 
    font-weight: bold;
    text-decoration: none;
}

 .election-lists {
    margin: 0;
    width: 100%;
    background-color: #f2eeee;
    height: 700px;
} 

.election {
    background-color: #f2eeee;
    width: 1200px;
    margin: 0px auto;
    background-color: #fff;
    border-collapse: collapse; 
}

.election td {
    text-align: left;
    padding: 10px 0 10px 30px;
}

.election tr {
    border-bottom: 1px solid #f2eeee;
}
.election tr:last-child {
    border-bottom: none;
}

.election th {
    text-align: left;
    padding: 10px 0 10px 30px;
    margin-top: 10px;
}

.election-lists h2 {
    /* display: block; */
    padding-top: 70px;
    text-align: center;
    font-size: 180%;
}

 .election .chart {
    float: left;
     margin: 10px 10px 10px 0; 
} 

